@model Zifmia.Model.ZifmiaViewModel
@using Zifmia.Model
@{
    ZifmiaLoggedInViewData loggedInData = new ZifmiaLoggedInViewData();
    loggedInData.Nickname = Model.Player.NickName;
    loggedInData.GameTitle = Model.Game.Title;

    ZifmiaChannel prologue = (from ZifmiaChannel ch in Model.Channels where ch.Name == "PLOG" select ch).FirstOrDefault<ZifmiaChannel>();
    ZifmiaChannel main = (from ZifmiaChannel ch in Model.Channels where ch.Name == "MAIN" select ch).FirstOrDefault<ZifmiaChannel>();
    ZifmiaChannel chapter = (from ZifmiaChannel ch in Model.Channels where ch.Name == "CHAP" select ch).FirstOrDefault<ZifmiaChannel>();
    ZifmiaChannel title = (from ZifmiaChannel ch in Model.Channels where ch.Name == "TITL" select ch).FirstOrDefault<ZifmiaChannel>();
    ZifmiaChannel prompt = (from ZifmiaChannel ch in Model.Channels where ch.Name == "PRPT" select ch).FirstOrDefault<ZifmiaChannel>();


    ZifmiaChannel hints = (from ZifmiaChannel ch in Model.Channels where ch.Name == "HINT" select ch).FirstOrDefault<ZifmiaChannel>();
    ZifmiaChannel map = (from ZifmiaChannel ch in Model.Channels where ch.Name == "MAPS" select ch).FirstOrDefault<ZifmiaChannel>();
    ZifmiaChannel tutorial = (from ZifmiaChannel ch in Model.Channels where ch.Name == "TUTR" select ch).FirstOrDefault<ZifmiaChannel>();

    hints = new ZifmiaChannel();

    Textfyre.Website.Models.CommandViewData commandViewData = new Textfyre.Website.Models.CommandViewData();
    commandViewData.Hints = new List<string>();
    commandViewData.Hints.Add("Try EXAMINE ME");
}
<div id="page">
    <div id="header">
        <div style="float: left; padding-right: 3px; vertical-align: middle; width: 100%;">
            <div id="nicknameLabel" style="padding-left: 5px; float: left; margin-top: 3px;">
                @loggedInData.Nickname
            </div>
            <div style="float: right; padding-right: 3px; margin-top: 4px;">
                <button id="logoutButton" style="border-radius: 10px; font-size: 10pt; height: 20px;
                    font-weight: bold;">
                    Logout</button></div>
            <div id="gameTitle">
                @title.Content</div>
        </div>
        <div id="contentPanel">
            <div id="contentTitle">
                Prologue
            </div>
        </div>
    </div>
    <div id="ajaxLoading" style="display: none;">
        <img src="@Url.Content("~/Content/loading.gif")" alt="" /></div>
    <div style="padding-bottom: 10px;">
    </div>
    <div id="main">
        <div id="prologuePanel">
            <div id="prologueContent" class="content">
                <div class="para">
                    @if (prologue != null)
                    {
                        @prologue.Content
                    }
                </div>
            </div>
        </div>
        <div id="mainPanel" style="display: none;">
            <div id="mainContent" class="content">
                <div id="mainParagraph" class="para">
                    @main.Content
                </div>
            </div>
        </div>
        @if (map != null)
        {
            <div id="mapPanel" class="flyup">
                <img id="mapImage" src="@Url.Content("~/Content/" + map.Content)" alt="Game Map" />
            </div>
        }
        @if (hints != null)
        {
                    
            <div id="hintsPanel" class="flyup">
                @hints.Content
            </div>
        }
        <div id="historyPanel" class="flyup">
            @Html.Partial("Branches", Model.Branches)
        </div>
    </div>
    <div id="footer">
        <div id="prologueButton">
            <div id="anyKey" tabindex="-1">
                Press any key or click here to begin the story...</div>
        </div>
        <div id="commandPanel">
            <div id="buttonPanel">
                <div id="mapButton" class="button">
                    @if (map != null)
                    {
                        <img src="@Url.Content("~/Content/globe.png")" alt="Map of Game" />
                        <text>Map</text>
                    }
                </div>
                <div id="hintsButton" class="button">
                    @if (hints != null)
                    {
                        <img src="@Url.Content("~/Content/lightbulb.png")" alt="Hints" />
                        <text>Hints</text>
                    }
                </div>
                <div id="historyButton" class="button">
                    <img src="@Url.Content("~/Content/history48.png")" alt="Hints" />
                    History
                </div>
            </div>
            <div id="inputPanel">
                <div id="promptTitle">
                    @if (prompt != null)
                    {
                        @prompt.Content
                    }
                    else
                    {
                        @Html.Label("Now what?")
                    }
                </div>
                @if (tutorial != null)
                {
                    <div id="tutorial">
                        <div id="tutorialContent">@tutorial.Content</div>
                    </div>
                }
                <input id="userCommand" type="text" maxlength="100" /></div>
        </div>
    </div>
</div>
